{% extends "base.html" %}
{% load floppyforms %}

{% block content %}

{% form form using %}
<form  method="post">{% csrf_token %}
    {% formconfig row using "floppyforms/rows/p.html" %}
    {% formrow form.name %}
    {% formrow form.mobile %}
    {% formrow form.mail_id %}
    {% formrow form.check_in %}
    {% formrow form.in_room %}
    {% formrow form.ready_to_share %}

    <div id="some_amount">
    {% formrow form.some_amount %}
    </div>
    <input type="submit" value="Submit" />
</form>
{% endform %}
{% endblock %}


