{% extends "base.html" %}


{% block content %}

<table class="roommates-table">
    <tr>
        <th>Permanent Roommates</th>
        <th>Temporary Roommates</th>
    </tr>

    {% for room_member, other_member in zip_members %}
        <tr>
            {%if room_member%}
                <td><a href="{% url 'update-member' member_type='permanent' member_pk=room_member.id %}">
                    {{ room_member.name|capfirst }}</a></td>
            {% else %}
                <td> - </td>
            {% endif %}
            {%if other_member%}
                <td><a href="{% url 'update-member' member_type='temporary' member_pk=other_member.id %}">
                    {{ other_member.name|capfirst }}</a></td>
            {% else %}
                <td> - </td>
            {% endif %}
        </tr>
    {% empty %}
        <td>No one in Room</td><td>No one in Room</td>
    {% endfor %}

</table>


{% endblock %}


{% url 'path.to.view' arg arg2 as the_url %}

