{% extends "base.html" %}
{% block content %}
<table style="width:50%">
    <tr>
        <td>Name</td>
        <td>Amount</td>
    </tr>
    {% for object in share_expenses %}
        {% if object.room_member %}
            <tr>
                <td>{{ object.room_member }}</td>
                <td>{{ object.room_member_share }}</td>
            </tr>
        {% endif %}
        {% if object.other_member %}
            <tr>
                <td>{{ object.other_member }}</td>
                <td>{{ object.other_member_share }}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
{% endblock %}