
.header-links {
    margin: 50px 50px; /*top and bottom margins are 50px
                        right and left margins are 50px*/
    padding: 20px 30px;
    font-size:20px;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
}

.header-links a {
    color: #4C4C51;
    text-decoration:none;

}

.content{
    color: #4C4C51;
    font-family:  Geneva, Tahoma, Verdana, sans-serif;
    font-size: 18px;
    padding-left: 200px;
}

.roommates-table {
    width:600px;
}

.roommates-table th,
.roommates-table td {
    padding-top: 10px;
    text-align: center;
}


.shared-expenses-table {
    width:600px;
}

.shared-expenses-table th,
.shared-expenses-table td {
    padding-top: 10px;
    text-align: center;
}
