<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    {% block extra_head %}
        <link rel="stylesheet" type="text/css" href="{% static 'roomexpenses/css/main.css' %}" />
    {% endblock %}
</head>
<body >
<div id="body">

    {% block body %}

    <div class="header">
        {% block header %}
            <p class="header-links">
                <a  href="{% url 'list-room-members' %}">Show Room Members</a> &nbsp;
                <a  href="{% url 'list-other-members' %}">Show Other Members</a> &nbsp;
                <a  href="{% url 'add-month-expenses' %}">Add Current Month Expense Detail</a> &nbsp;
                <a  href="{% url 'add-room-member' %}">Add Room Member</a> &nbsp;
                <a  href="{% url 'add-other-member' %}">Add Other Member</a> &nbsp;
            </p>
        {% endblock %}
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

{% endblock %}

</div>
</body>
</html>




